# environments
/venv*
/qdax050
/test_env


# systems
.DS_Store
**/__pycache__
.idea


# output data
**/*.pkl
*.out
**.sh.e**
**.sh.o**
**/archive
**/*.html
**/*.csv

# affliates
/sample_code
/utils/hpc-utils
